@font-face {
  font-family: "Prata";
  src: url("/MST/assets/fonts/Prata-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("/MST/assets/fonts/Arial-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url("/MST/assets/fonts/Arial-Regular.ttf") format("truetype");
  font-style: normal;
}